.wrapper {    
    margin-top: 80px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
}

#mySubmit {
    margin-left: 10px;
}

#b {
    align-self:  center;
}

.form-group {
    margin-right: 0px;
    
}

.usidpwd {
    margin-left: 100px;
}

#f_pwd {
    margin-left: 10px;
}

#b {
  margin-left: 150px;
}

.btn {
    padding: 5px 5px;
    font-weight: 700;
    letter-spacing: 1px;
    
}

.btn:hover,
.btn:active {
        border: 3px solid #fff;
	color: #0e83cd;
	background: #fff;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 15px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}